src/net/wikipunk/rdf/*.clj filter=lfs diff=lfs merge=lfs -text
*.owl filter=lfs diff=lfs merge=lfs -text
resources/parents.edn filter=lfs diff=lfs merge=lfs -text
resources/descendants.edn filter=lfs diff=lfs merge=lfs -text
resources/ancestors.edn filter=lfs diff=lfs merge=lfs -text
